body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #a4bee3;
  overflow: hideen;
}
body.nightMode {
  background-color: #0f0f43;
}

.copyRight {
  border: 1px solid black;
  width: 600px;
  padding: 10px;
}

.copyRight a {
  text-decoration: none;
  color: black;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  font-size: 20px;
}

input[type="submit"] {
  outline: none;
  border: none;
  background-color: #3c40c6;
  border-radius: 10px;
  color: white;
  padding: 5px;
  height: 40px;
  margin-left: 5px;
  font-size: 15px;
}

.startWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #1e272e;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startWindow h1:nth-of-type(1) {
  margin-bottom: 50px;
}

form.todoForm {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 2;
  background-color: #ffdd59;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.todoForm input[type="submit"],
.messageForm input[type="submit"] {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 5px;
  color: white;
  background-color: #3c40c6;
}

.messageWrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 90%;
  transform: translate(-50%, -50%);
  background-color: #ffdd59;
  color: #1e272e;
  top: 50%;
  left: 50%;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.messageWrapper ul {
  border: 1px solid #1e272e;
  width: 500px;
  height: 500px;
  overflow: auto;
  padding: 0;
  padding: 10px;
}
.messageList li {
  font-size: 20px;
  list-style: none;
  margin-bottom: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.messageWrapper .messageClose {
  position: absolute;
  right: 100px;
  top: 50px;
  font-size: 20px;
}

.ground {
  width: 80%;
  height: 65vh;
  position: absolute;
  background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EB%B0%94%EB%8B%A5.jpg");
  background-size: cover;
  left: 50%;
  bottom: 20px;
  transform-style: preserve-3d;
  transform: translateX(-50%) perspective(250px) rotateX(50deg);
}

.you {
  font-size: 50px;
}

/* i:nth-child(1) {
  transform: rotateX(-50deg);
  position: absolute;
  top: 0;
  left: 45%;
}
i:nth-child(2) {
  transform: rotateX(-50deg);
  position: absolute;
  top: 0;
  right: 45%;
} */
.ground i:nth-of-type(1),
.ground i:nth-of-type(2) {
  transform: rotateX(-50deg) translate3d(0, -50px, 0);
  position: absolute;
  top: 57%;
  left: 45%;
  font-size: 50px;
}
.ground i:nth-of-type(2) {
  left: 55%;
}

.ground i:nth-of-type(3) {
  transform: rotateX(-50deg) translate3d(0, -50px, 0);
  position: absolute;
  bottom: 60px;
  left: 40%;
  font-size: 50px;
}

.you {
  transform: rotateX(-50deg) translate3d(0, -50px, 0);
}

.message {
  transform: rotateX(-50deg) translate3d(0, -50px, 0);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  padding: 5px;
  border: 1px solid black;
  background-color: #05c46b;
  color: white;
  z-index: 5;
  max-width: 300px;
}

.writeZone {
  width: 100px;
  transform: rotateX(-50deg) translate3d(0, -70px, 0);
  text-shadow: 5px 5px 5px black;
  font-size: 50px;
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.outDoor {
  transform: rotateX(-50deg) translate3d(0, -50px, 0);
  font-size: 30px;
  text-shadow: 5px 5px 5px black;

  width: 100px;
  position: absolute;
  bottom: 20%;
  right: 20%;
}

.leftWall {
  width: 500px;
  height: 60vh;
  /* /background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EC%98%86%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B4.jpg"); */
  background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EC%A0%84%EB%93%B1%EB%82%AE.jpg");
  background-size: cover;
  background-position: center;

  transform: perspective(350px) rotateY(35deg);
  position: absolute;

  left: 0;
}

.leftWall.nightMode {
  background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EC%A0%84%EB%93%B1%EB%B0%A4.jpg");
}

.rightWall {
  width: 500px;
  height: 60vh;

  position: absolute;
  right: 0;
  background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EC%99%BC%EC%AA%BD%EB%B2%BD%EB%82%AE.jpg");
  background-size: cover;
  background-position: 50% 100%;
  transform: perspective(350px) rotateY(-30deg);
  display: flex;
  justify-content: center;

  align-items: center;
}

.rightWall.nightMode {
  background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EC%99%BC%EC%AA%BD%EB%B0%A4.jpg");
}

.rightWall .window {
  /* background-color: white; */
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25%;
  left: 53%;
}

.window img {
  width: 100%;
  height: 100%;
}

.frontWall {
  display: flex;
  width: 100%;
  height: 100%;
  /* /background-color: green; */
}
.backWall {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 70vh;
  /* z-index: -1; */
  margin-top: -50px;
  background-size: contain;
  background-position: 50% 80%;
}

.backWall.nightMode {
  background-image: url("https://usecloud.s3-ap-northeast-1.amazonaws.com/TodoList/%EB%B0%A4.jpg");
}
.sliderWrapper {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  scroll-behavior: smooth;
  width: 60%;
  height: 58vh;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  overflow: auto;
}
.sliderWrapper::-webkit-scrollbar {
  display: none;
}

.sliderWrapper section:nth-of-type(1) {
  display: grid;
  grid-template-columns: 5fr 5fr;
  background-color: rgba(15, 15, 15, 0.8);
  gap: 5px;
}

.listWrapper:nth-child(1) h1 {
  color: #05c46b;
}

.listWrapper:nth-child(2) h1 {
  color: #ef5777;
}

section .listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .todoList,
section .finishList {
  padding: 0;
  width: 85%;
  height: 300px;
  overflow: auto;
}

section .todoList {
  border: 1px solid #05c46b;
}

section .finishList {
  border: 1px solid #ef5777;
}

button {
  outline: none;
  border: none;
  background-color: #3c40c6;
  border-radius: 20px;
  color: white;
  padding: 5px;
  margin-left: 5px;
  font-size: 15px;
}
button:active {
  transform: scale(1.01, 1.01);
}

.todoList li,
.finishList li {
  color: white;
  list-style: none;
  font-weight: 600;
  padding: 10px;
  transition: all 0.5s linear;
}

li:hover {
  background-color: #ffdd59;
}

.sliderWrapper section:nth-of-type(2) {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
section .clock {
  font-size: 50px;
  width: 400px;
  height: 200px;
}

.clock div:nth-of-type(1) {
  font-size: 60px;
  margin-bottom: 10px;
  color: #ffdd59;
}

.clock div:nth-of-type(2) {
  color: #05c46b;
}
section .weather {
  width: 100px;
  height: 200px;
  font-size: 20px;
}

.weather .city {
  color: #ffdd59;
  margin-bottom: 10px;
}

.weather .weatherName {
  color: #05c46b;
  margin-bottom: 10px;
}
.weather .temperature {
  color: #ef5777;
}

.sliderWrapper section:nth-of-type(3) {
  width: 100%;
  height: 100%;
}
